@import 'settings'
@import 'rupture'

med = 620px

.swiper-control
    position relative
    padding 0 3%    
    margin 0 auto
    +below(1100px)
        padding 0 4%
    +below(breaks.tablet)
        padding 0
    .swiper-pagination
        position relative
        padding-top 20px
        margin 0 auto
        text-align center
    .swiper-container
        margin 0 auto
        padding-top 1%
        .swiper-slide
            cursor move
            padding-top 1%
            a
                display inline-block
            +below(breaks.tablet)
                // padding-top 0
            .minitxt
                text-align center
                margin-top 15px
                color #16507d
                opacity 1
                transition opacity 400ms ease
                +below(breaks.mobile)
                    font-size 16px

            img
                width 100%
                opacity 1
                position relative
                transform translate3d(0,-4%,0)
                transition opacity 400ms ease, transform 400ms ease
                +below(breaks.tablet)
                    transform translate3d(0,0,0)
                    &:hover
                        transform translate3d(0,-1%,0)
        +above(breaks.base)
            .swiper-wrapper:hover
                .swiper-slide:not(:hover)
                    img
                        transform translateY(0%)
// NEXT & PREVIOUS BUTTONS
.swiper-control, .pages-wrap
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
            .swiper-button-next, .swiper-container-rtl .swiper-button-prev
                width 20px
                height 20px
                border-top 1px solid #999999
                border-left 1px solid #999999
                transform-origin 50%
                transform rotate(-45deg)
                background-image none !important
                +below(breaks.tablet)
                    display none
                &.swiper-button-prev
                    left 1%
                    +below(900px)
                        left 2%
                    +below(415px)
                        left 3%
                &.swiper-button-next
                    right 1%
                    transform rotate(135deg)
                    +below(900px)
                        right 2%
                    +below(415px)
                        right 3%

.pages-wrap, .video-slider
    .swiper-wrapper
        transition transform 300ms, height 200ms ease-in-out-expo !important
        height auto
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        position fixed
        z-index 999
        width 120px
        height 100vh
        opacity 0
        border 0
        top 0
        transform none !important                
        transition opacity 400ms ease
        +below(breaks.base)
            display none
        +below(med)
            width 30px
        &:after
            content ''
            position absolute
            top 50%
            left 0
            transform translate(50%, -50%) rotate(-45deg)
            width 111px
            height 111px
            border-top 1px solid rgba(#a7a9ae, 0.4)
            border-left 1px solid rgba(#a7a9ae, 0.4)
            transform-origin 50%
            border-width 12px
            +below(med)
                width 30px
                height 30px
                border-width 6px                    
        &.swiper-button-disabled
            display none
            cursor default !important
            pointer-events initial
            &:hover
                opacity 0 !important
        &:hover
            opacity 0.8
        &.swiper-button-prev
            left 0
        &.swiper-button-next
            right 0
            &:after
                transform translate(-50%, -50%) rotate(135deg)

.mis-slider .swiper-control
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        top 35%
        +below(breaks.base)
            display none
    .swiper-pagination-bullets
        margin-top 80px
        +below(breaks.mobile)
            margin-top 35px 
            background #ccc
            .swiper-pagination-bullet
                background #fff
                opacity 1
// SWIPER PAGINATION BULLETS


#vidSlider .swiper-pagination-bullets
    bottom 9vh
    +below(breaks.mobile)
        bottom 7vh
.swiper-control, .pages-wrap
    .swiper-pagination-bullets
        inline-mid()
        width auto !important
        padding 0 26px
        left 50% !important
        
        transform translateX(-50%)
        background #fff
        border-radius 45px
        height 34px
        white-space nowrap
        overflow hidden
        +below(breaks.mobile)
            padding 0 8px
    
        &.mis-swiper-pagination
            +below(breaks.mobile)
                .swiper-pagination-bullet:first-child:after
                    border-bottom-color #fff
    .swiper-pagination-bullet
        margin 0 5px
        width 12px
        height 12px
        +below(breaks.mobile)
            width 12px
            height 12px
            margin 0 4px
        &:first-child
            position relative
            border-radius 0
            height 8px
            width 12px
            transform translateY(2px)
            &:after
                content ''
                border-style none
                background #000
                position absolute
                top 0
                left 0
                border-radius 0
                border-right 6px solid rgba(255,255,255,0)
                border-left 6px solid rgba(255,255,255,0)
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    /* IE10+ CSS styles go here */
                    border-right 6px solid #fff
                    border-left 6px solid #fff
                }
                
                
                background initial
                border-bottom 4px solid #000
                transform translate(0, -4px)
                -ms-transform translate(0, -4px)
        &-active
            background #16507d !important
            border-radius 50%
            position relative
            &:first-child
                &:after
                    border-bottom-color #16507d !important
// PAGES SLIDER CONFIG
        
 .pages-wrap
    .swiper-pagination
        position absolute
        bottom auto !important
        top 93vh
        +below(breaks.mobile)
            top 75vh
    &.android
        .swiper-pagination
            +below(breaks.mobile)
                top 90vh
        

// VIDEO SLIDER
.video-slider
    .swiper-control 
        position relative 0 0 0 0
        padding 0
        .swiper-container
            width 100%
            padding 0
            .swiper-wrapper
                .swiper-slide
                    padding 0
                    +below(breaks.mobile)
                        overflow hidden
                    video, img
                        width 100vw
                        cure-me()
                        +below(breaks.mobile)
                            width 200vw
                            transform translateX(-25%) !important
                        &.under
                            blur-me()
        .video-prev, .video-next
            position absolute
            opacity 0
            width 15%
            padding 0
            margin 0
            top 0
            transform none !important
            transition opacity 200ms ease
            border-width 8px
            height 100%
            &:after
                top 50%
                left 50%
            &.video-next:after
                transform translate(-50%, -50%) rotate(135deg)
            &.video-prev:after
                transform translate(-50%, -50%) rotate(-45deg)

                
            &:hover
                opacity 0.9
            &.swiper-button-disabled:hover
                opacity 0.9 !important
        .video-swiper-pagination
            bottom 5vh
            background none
            z-index 999
            position absolute
            +below(breaks.mobile)
                transform translateX(-50%) scale(0.8)
                bottom 10px
            .swiper-pagination-bullet
                &:first-child
                    width 12px
                    height 12px
                    border-radius 100%
                    transform none
                    &:after
                        display none
                &:not(.swiper-pagination-bullet-active)
                    background lighten(#c9cbcf, 20)
                    opacity 0.8
                    &:first-child:after
                        border-bottom-color #c9cbcf
                        opacity 0.8