@import 'settings'
@import 'rupture'

med = 620px

.swiper-control
    position relative
    padding 0 3%    
    margin 0 auto
    +below(1100px)
        padding 0 4%
    +below(900px)
        padding 0 6%
    .swiper-pagination
        position relative
        padding-top 20px
        margin 0 auto
        text-align center
    .swiper-container
        margin 0 auto
        .swiper-slide
            cursor move
            padding-top 1%
            a
                display inline-block
            +below(900px)
                padding-top 2.5%
            +below(500px)
                padding-top 6%
            .minitxt
                text-align center
                margin-top 15px
                color #16507d
                opacity 1
                transition opacity 400ms ease
                font-size 14px
            img
                width 100%
                opacity 1
                position relative
                transform translate3d(0,-4%,0)
                transition opacity 400ms ease, transform 400ms ease
                +below(breaks.tablet)
                    &:hover
                        transform translate3d(0,-1%,0)
        +above(breaks.base)
            .swiper-wrapper:hover
                .swiper-slide:not(:hover)
                    .minitxt
                        opacity 0.3
                    img
                        transform translateY(0%)
                        opacity 0.8
// NEXT & PREVIOUS BUTTONS
.swiper-control, .pages-wrap
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
            .swiper-button-next, .swiper-container-rtl .swiper-button-prev
                width 20px
                height 20px
                border-top 1px solid #999999
                border-left 1px solid #999999
                transform-origin 50%
                transform rotate(-45deg)
                background-image none !important
                +below(breaks.tablet)
                    display none
                &.swiper-button-prev
                    left 1%
                    +below(900px)
                        left 2%
                    +below(415px)
                        left 3%
                &.swiper-button-next
                    right 1%
                    transform rotate(135deg)
                    +below(900px)
                        right 2%
                    +below(415px)
                        right 3%

.pages-wrap
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        position fixed
        z-index 999
        width 120px
        height 100vh
        opacity 0
        border 0
        top 0
        transform none !important                
        transition opacity 400ms ease
        +below(breaks.base)
            display none
        +below(med)
            width 30px
        &:after
            content ''
            position absolute
            top 50%
            left 0
            transform translate(50%, -50%) rotate(-45deg)
            width 111px
            height 111px
            border-top 1px solid rgba(#a7a9ae, 0.4)
            border-left 1px solid rgba(#a7a9ae, 0.4)
            transform-origin 50%
            border-width 12px
            +below(med)
                width 30px
                height 30px
                border-width 6px                    
        &.swiper-button-disabled
            opacity 0 !important
        &:hover
            opacity 0.8
        &.swiper-button-prev
            left 0
        &.swiper-button-next
            right 0
            &:after
                transform translate(-50%, -50%) rotate(135deg)

#make .swiper-control
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        top 35%
        +below(breaks.base)
            display none
// SWIPER PAGINATION BULLETS

#make .swiper-pagination-bullets
    margin-top 80px
.swiper-control, .pages-wrap
    .swiper-pagination-bullets
        inline-mid()
        width auto !important
        padding 0 26px
        left 50% !important
        
        transform translateX(-50%)
        background #fff
        border-radius 45px
        height 34px
        white-space nowrap
        +below(breaks.mobile)
            padding 0 6px
    .swiper-pagination-bullet
        margin 0 5px
        width 12px
        height 12px
        +below(breaks.mobile)
            width 12px
            height 12px
            margin 0 4px
        &:first-child
            position relative
            border-radius 0
            height 8px
            width 11px
            transform translateY(2px)
            &:after
                content ''
                background #000
                position absolute
                top 0
                left 50%
                width 8px
                border-radius 0
                border-right 6px solid transparent
                border-left 6px solid transparent
                background initial
                border-bottom 4px solid #000
                transform translate(-52%, -4px)
        &-active
            background #16507d
            border-radius 50%
            position relative
            &:first-child
                &:after
                    border-bottom-color #16507d !important
       


// PAGES SLIDER CONFIG
 .pages-wrap
    .swiper-pagination
        position absolute
        bottom auto !important
        top 93vh
        +below(breaks.mobile)
            top 80vh
        

// VIDEO SLIDER
.video-slider
    .swiper-control 
        position relative 0 0 0 0
        padding 0
        .swiper-container
            width 100%
            .swiper-wrapper
                .swiper-slide
                    padding 0
                    video
                        width 100vw
        .video-swiper-pagination
            bottom 5vh
            background none
            z-index 999
            position absolute
            +below(breaks.mobile)
                transform translateX(-50%) scale(0.8)
                bottom 10px
            .swiper-pagination-bullet
                &:first-child:after
                    transform translate(-47%, -4px)
                &:not(.swiper-pagination-bullet-active)
                    background #c9cbcf
                    opacity 0.8
                    &:first-child:after
                        border-bottom-color #c9cbcf
                        opacity 0.8