@import 'rupture'
@import 'settings'
.txt
    color #8aa7be
    line-height 20px
    letter-spacing 1.1px
.minitxt
    small-txt()
    letter-spacing 1.1px
    line-height 1.1
    color darken(lightgray, 15)
    strong
        font-weight normal
        color #203451
.subtxt
    color lightblue
    opacity 0.5
a.link, a.link:visited
    color linkblue

.item-group
    lost-utility clearfix
    .item
        +below(breaks.mobile)
            &:not(:first-child)
                margin-top 14%
        img
            margin-bottom 20px
            width 70%
            max-width 170px
            +below(breaks.mobile)
                max-width initial
        .minitxt
            padding 0 9%
            +below(breaks.mid)
                padding 0
            +below(breaks.mobile)
                font-size 15px

// INTROS
.intro
    position relative
    overflow hidden
    background-color #002d55
    &:before
        content ''
        background url('./assets/img/bg.jpg') no-repeat 50% 50% / 170% auto
        position absolute 0 0 0 0
        z-index 1
    &.intro-v3:before
        background-image url('./assets/img/v3-big.jpg')
    /.pages-wrap .intro
        background url('./assets/img/bg.jpg') no-repeat 0 0 / cover
        +below(breaks.mobile)
            background-position 50% 0
        &:before
            display none
    /.pages-wrap .swiper-slide:first-child
        .intro
            +above(breaks.tablet)
                background-position 0 57px
    .intro-txt
        +below(breaks.mobile)
            width 80%
    .close-btn
        border-radius 100%
        border 1px solid #fff
        width 40px
        height 40px
        position absolute 40px false false 40px
        z-index 99999
        display none
        @extend $cross
        &:before, &:after
            background #fff
            width 60%
    .i-360
        position absolute
        bottom 30px
        right 60px
        font-size 14px
        color #708190
        z-index 9
        opacity 0
        transition opacity 400ms ease-in-cubic
        +below(breaks.mobile)
            inline-mid()
            bottom 2px
            right auto
            left 2px
        img
            position relative
            transform rotate(-345deg)
            transition transform 800ms ease-out-back
            
    em
        font-size 14px
        font-style italic
        color #fff
        display inline-block
        padding 0 2px
    .play-overlay
        absolute-center()
        position absolute 0 0 0 0
        cursor pointer
        background rgba(#002d54, 0.9)
        z-index 2
        opacity 0
        transform scale(0.5)
        transition 200ms opacity ease-out-cubic, transform 400ms ease-out-back
        img
            max-width 302px
            +below(breaks.tablet)
                width 60%
        div
            top 75%
            text-align center
            +below(breaks.bigger)
                top 80%
            span
                display block
            span:first-child
                font-size responsive 24px 48px
                color #fff
                padding-bottom 10px
            span:nth-child(2)
                font-size 14px 24px
                color #3e7bb0
    iframe
        display none
        position absolute 0 0 0 0
        width 100%
        height 100%
        z-index 3
        transition opacity 200ms ease
        +below(breaks.tablet)
            top 0
            height 100%
    &.hp.playoverlay
        &:before
            -webkit-filter blur(5px) !important
            filter url('assets/blur.svg#blur')
            filter blur(5px)
        .play-overlay
            opacity 1
            transform scale(1)
        .i-360
            opacity 1
            img
                transform rotate(0deg)
                +below(breaks.mobile)
                    transform rotate(0deg) scale(0.6)
            span
                +below(breaks.mobile)
                    margin-bottom -2px
                    
.play
    #playintro
        opacity 0 !important
    #i360
        opacity 0 !important
    &:before
        opacity 0.8
    iframe
        display block
.midtxt
    color #8c8c8c
    text-align center
    line-height 24px
    display block
    margin 0 auto
    +below(breaks.mid)
        width 40%
.bottom-graphic-v3
    position relative
    background url('./assets/img/v3-bottom-graphic.jpg') no-repeat 50% bottom / auto 100%
    padding-bottom 16%
    margin-top 4%
    +below(breaks.base)
        padding-bottom 25%
        margin-top 10%
    +below(breaks.mid)
        min-height 5vh
        padding-bottom 30%
        margin-top 20%
.flip-title
    direction rtl
    inline-mid()
    .subtxt
        sub-title()
        margin-right 2%
        direction ltr
        +below(breaks.tablet)
            margin 10px 0 0 0
            display block
.info-toggle
    position absolute
    top 7vh
    left 6vh
    cursor pointer
    white-space nowrap
    +below(breaks.mobile)
        top 4vh
        left 3vh
    span
        mid-txt()
        color #c9cbcf
        padding-left 14px
        display inline-block
        vertical-align middle
        +below(breaks.tablet)
            padding-left 6px
    &:before
        content ''
        display inline-block
        vertical-align middle
        border 2px solid #bcbec2
        border-radius 50%
        width 44%
        padding-top 41%
        background url('./assets/img/info.svg') no-repeat 50% 50% / auto 60%
// FAQ BLOCK
.faq-control
    width 80%
    margin 50px auto
    h5
        display inline-block
        vertical-align top
        width 40%
        color darkblue
        text-align center
        padding-top 12px
        +below(breaks.tablet)
            width auto
            display block
            text-align left
            padding-top 0
    .qa
        display inline-block
        vertical-align top
        width 40%
        border-left 1px solid gray
        padding-left 28px
        +below(breaks.tablet)
            width auto
            display block
            margin-top 30px
        ul
            li
                position relative
                margin 20px 0 20px
                padding-left 28px
                cursor pointer
                for num in 1..10
                    &:nth-child({num}) label > div:before
                        content ''+num
                label
                    cursor pointer
                    &>div
                        &:before
                            position absolute
                            top 0
                            left 0
                            transform translateY(5%)
                
                    h6
                        mid()
                        font-size 15px
                        color #444
                        width 90%
                    .answer
                        small-txt()
                        line-height 1.3
                        color darken(gray, 25)
                        padding-top 20px
                        max-height 0
                        overflow hidden
                        transition max-height 400ms ease
                    .plus
                        position absolute
                        top 5px
                        right 0
                        width 11px
                        height 10px
                        &:before, &:after
                            content ''
                            position absolute
                            top 50%
                            left 50%
                            transform translate(-50%,-50%)
                            height 1px
                            width 100%
                            background gray
                        &:before
                            display none
                            background midblue
                            height 1px
                            transform translate(-50%,-50%) rotate(-90deg)
                    input:checked
                        & + div
                            &:after
                                content ''
                                position absolute
                                top 0
                                left -28px
                                height 100%
                                border-left 2px solid midblue
                        & + div .plus
                            &:after
                                background midblue
                            &:before
                                display block
                        & + div h4
                            color midblue
                        & + div .answer
                            max-height 200px
                            +below(breaks.mobile)
                                max-height 400px

                &:after
                    content ''

                
// GOOGLE MAP
.google-map-wrapper
    width 100%
    height 70vh
    .google-map
        height 100% !important


// INFO BLOCK
.info-block
    li
        +below(breaks.tablet)
            padding-top 10%
        +below(520px)
            padding-top 20%
        &:last-child
            padding-bottom 0
    .img-wrap
        height 200px
        +below(breaks.tablet)
            height 120px
        +below(520px)
            height auto
        inline-mid()
        text-align center
        img
            margin 0 auto
            +below(520px)
                width 55%
                margin-bottom 2%

    .big-num
        absolute-center(both)
        font-family "Helvetica Neue"
        border 5px solid #05a5e6
        border-radius 50%
        width 204px
        height 204px
        margin 0 auto 10%
        color #05a5e6
        & + .midtxt
            mid-txt()
            width 80%
            +below(breaks.base)
                width 60%
        +below(breaks.base)
            margin-bottom 2%
        
        span
            font-size 140px
            transform translate(-52%,-56%)
    a
        mid-txt()
        display block
        padding-top 20px
        color rgba(dark, 0.75)
        text-indent 26%
        white-space nowrap
        margin 0 auto
        +below(breaks.mid)
            text-indent initial
            display inline-block
            width 54%
            position relative
            left 50%
            transform translateX(-50%)
    .centered-text
        title4()
        width 45%
        margin 0 auto
        color #8c8c8c
        line-height 32px
        text-align center
        +below(breaks.base)
            width 70%
        +below(breaks.mobile)
            width 80%
    
// OUT BLOCK
.out-block
    background #21455e
    text-align center
    h2, .mid-txt
        color #fff
    .mid-txt
        line-height 23px
        width 45%
        margin 0 auto
        letter-spacing 1px
        +below(breaks.tablet)
            width 80%
    h2
        width 25%
        margin 0 auto
        padding 56px 0 76px
        +below(breaks.tablet)
            width 80%
            padding 36px 0 56px
    .btn
        background #ededed
        color darkblue
        font-size 14px
        text-align center
        padding 15px 25px
        display inline-block
        font-family "Helvetica Thin txt"
        font-weight 600
        letter-spacing 1px
