@font-face {
  font-family: 'Helvetica Neue';
  font-path: './assets/fonts/HelveticaNeueLtStd-Lt';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Thin';
  font-path: './assets/fonts/NeueHaasUnicaW1G-Thin';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Thin txt';
  font-path: './assets/fonts/helveticaneue-thin';
  font-weight: normal;
  font-style: normal;
}


