@font-face {
  font-family: 'Helvetica Neue';
  font-path: './assets/fonts/HelveticaNeueLtStd-Lt';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Thin';
  font-path: './assets/fonts/NeueHaasUnicaW1G-Thin';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Thin txt';
  font-path: './assets/fonts/helveticaneue-thin';
  font-weight: normal;
  font-style: normal;
}

@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=e28a8c3d-7beb-4f08-8698-5d02de4b5f3f&fontids=1459688");
@font-face{
    font-family:"HelveticaLight";
    src:url("./assets/fonts/1459688/8354ea91-308b-4fd0-9822-223ad8497bd3.eot?#iefix");
    src:url("./assets/fonts/1459688/8354ea91-308b-4fd0-9822-223ad8497bd3.eot?#iefix") format("eot"),url("./assets/fonts/1459688/488c4643-af87-4189-bb4f-171dea9ea41d.woff2") format("woff2"),url("./assets/fonts/1459688/556dc087-1c20-4822-b6df-1389f6b4e08f.woff") format("woff"),url("./assets/fonts/1459688/5f2dd72f-3779-49cd-a78c-db5f4085deb3.ttf") format("truetype"),url("./assets/fonts/1459688/1b8634c8-006a-49c6-aaf3-04a56845d964.svg#1b8634c8-006a-49c6-aaf3-04a56845d964") format("svg");
}

