@import 'settings'

h1
    title1()
    color darkblue
    text-align center
    font-family "Helvetica Neue"
    +tablet()
        font-size 44px
h2
    title2()
    color darkblue
    font-family "Helvetica Neue"
    +below(breaks.mobile)
        font-size 12vmin
        line-height 1.1
h3
    title3()
    color darkblue
    font-family "Helvetica Neue"
h4
    title4()
h5
    title5()
h6
    title6()
    font-family "Helvetica Neue"
    