@import '~normalize'
@import 'rupture'
@import 'settings'

body
    +below(737px,orientation: landscape)
        background url('./assets/img/landscape-unsupported.jpg') no-repeat 0 0 / cover
        overflow hidden
        *
            display none
    @media all and (min-width:768px) and (max-width:1024px) and (orientation: portrait)
        background url('./assets/img/portrait-not-supported.jpg') no-repeat 0 0 / cover
        overflow hidden
        *
            display none
    position relative
    font-family "Helvetica Thin", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight 300
    & > *
        font-family "Helvetica Thin", "Helvetica Neue", Helvetica, Arial, sans-serif


.full-height
    width 100%
    min-height 100vh


.wrap
    img.big_graphic
        vertical-align middle
        width 43%
        +below(breaks.base)
            margin 3% 5% 0 -5%
            width 45%
        +below(breaks.tablet)
            width 55%
            transform initial
            // width auto
            display block
            margin 0 auto 40px
        +below(breaks.mobile)
            max-width initial
            width 130%
            margin-left -15%
            

    .infobox
        display inline-block
        width 56%
        vertical-align middle
        padding 70px 0 0 2%
        .info-title
            padding 0 5%
            h2
                padding-bottom 20px
            +below(breaks.mobile)
                padding 0
        +below(breaks.base)
            width 54%
            .txt
                width 90%
                padding-top 10px
        +below(breaks.tablet)
            width 100%
        +below(breaks.mobile)
            padding 0
            .info-title, .txt
                width auto


    
        
// GRID
for num in (1..12)
	.col-{num}
		lost-column num/12

.group-3
    &.centered
        centered(900px)
    & > *
        lost-column 1/3 4 1%
        +below(breaks.mobile)
            lost-column 1/1 1 0

.group-4
    lost-utility clearfix
    &.centered
        centered(1200)
        +below(breaks.big)
            centered(900)
    & > *
        lost-column 1/4 4 2%
        +below(breaks.big)
            &:not(.imgs)
                lost-column 1/2 2 2%
        +below(breaks.mobile)
            lost-column 1/1 1 0
    
// .info-block:not(.num-grp)
//     .group-4
//         +between(breaks.mobile, breaks.tablet)
//             padding-left 13%

footer
    min-height 40vh
    background darken(#fbfbfd, 1)
    padding 2% 8%
    padding-bottom 1%
    +below(breaks.mobile)
        padding-top 6%
    & > ul
        centered(1000)
        padding 0 30px
        +tablet(orientation: landscape)
            max-width 66vw
            padding 0
            h6
                float left
                width 25%
                &:after
                    width 40%

            li>div
                overflow hidden
                padding-left 45px
                .minitxt
                    font-size 16px
        +below(breaks.mobile)
            padding 0
        & > *
            lost-column 1/3 3 8%
            +below(breaks.base)
                lost-column 1/1 1 0
                padding-top 116px
                margin-top 0
                &:first-child
                    padding-top 78px
                    +below(breaks.mobile)
                        padding-top 40px

    .minitxt
        small-txt()
        font-size 16px
        font-family 'HelveticaLight'
        margin-bottom 10px
        color darken(lightgray, 40)
        line-height 1.3
        +below(520px)
            width 100%
        &:last-child
            margin-top 25px
            ul 
                margin 0
                padding 0
                li
                    small-txt()
                    color #727272
                    margin 0
                    padding 0 0 3px

    h6
        margin-bottom 20px
        color linkgray
        font-family 'HelveticaLight'
        &:after
            content ''
            display block
            padding-top 20px
            width 16%
            border-bottom 1px solid lightgray
            +below(breaks.base)
                padding-top 15px
    a.link
        small-txt()
        display block
        inline-mid()
        span
            display inline-block
            font-size 11px
            padding-left 10px
            margin-top -1px
    small
        centered(1000)
        padding 0 30px
        small-txt()
        display block
        color lightgray
        text-align left
        padding-top 100px
        span
            display inline-block
            width 30%
            margin-left 36%
        +below(breaks.base)
            padding-top 140px
        +below(900px)
            text-align center
            span
                width auto
                margin 0 auto
        +below(breaks.mobile)
            text-align left
            padding-left 0
            padding-right 0
