@import 'rupture'
@import 'settings'


button
    outline none
    &:active
        outline none
    +above(breaks.mobile)
        &:hover
            outline none
    
a
    text-decoration none
    color dark
    &:visited
        color inherit

.tcenter
    text-align center

.center
    centered(1000)
    +below(1200px)
        padding 0 3%
    +below(breaks.mobile)
        padding 0 14%

.center-mobile
    +below(breaks.mobile)
        padding 0 14%
.centered
    centered()

.unattach
    background-attachment initial !important

.w50
    width 50%
// margin 
for alias, prop in $space
    for size,value in margins
        .{alias}-{size}
            if (size==head)
                {prop} value+20
            else
                {prop} value
            +below(breaks.tablet)
                if (size==head)
                    {prop} round((value*2)+20)
                else
                    {prop} round((value/1.8))
            +below(breaks.mobile)
                if (size==head)
                    {prop} round(value)
                else
                    {prop} round((value/2))

.m0
    margin 0 !important
.mr3
    margin-right 3% !important
.p0
    padding 0 !important
.pl2
    padding-left 2% !important

.sub-title
    sub-title()    
.mid-txt
    mid-txt()
.small-txt
    small-txt()

.subtitle-left
    width 43%
    +below(breaks.mobile)
        display block
        width auto
.title-right
    width 56%
    padding-left 3%
    text-align left
    vertical-align middle
    +tablet(orientation: portrait)
        width auto
        padding-left 0
    +below(breaks.mobile)
        width auto
        padding 0

::selection
    background lighten(gray, 30)


&.breaked
    +below(769px)
        text-align left !important
        position relative
        display block

// gutters
.gutter
    &-both
        gutters()
    &-top
        gutters(14vh, false)
    &-bottom
        gutters(false, 14vh)
        