

// margins + padding aliases
$space = {
	mt: margin-top,
	mb: margin-bottom,
	ml: margin-left,
	mr: margin-right,
	pt: padding-top,
	pb: padding-bottom,
	pl: padding-left,
	pr: padding-right,
}
// ALIAS
@alias {
	mt: margin-top;
	mb: margin-bottom;
	ml: margin-left;
	mr: margin-right;
	pt: padding-top;
	pb: padding-bottom;
	pl: padding-left;
	pr: padding-right;
}
// HEADER HEIGHT
head-height = 57px

$cross
	&:before, &:after
		content ''
		display block
		position absolute  
		transform-origin 50%
		top 50%
		left 50%
		height 1px
		width 100%
		background linkblue
	&:before
		transform translate(-50%, -1px) rotate(-45deg)
	&:after
		transform translate(-50%, 0) rotate(45deg)

cure-me()
	-webkit-backface-visibility hidden
	-webkit-perspective 1000
	-webkit-transform translate3d(0,0,0)
	-webkit-transform translateZ(0)
	backface-visibility hidden
	perspective 1000
	transform translate3d(0,0,0)
	transform translateZ(0)
blur-me(pixels = 5px)
	filter url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur")
	-webkit-filter blur(pixels)
	-ms-filter blur(pixels)
	-o-filter blur(pixels)
	filter blur(pixels)

// CENTERING
centered(width = 1200px)
	lost-center unit(width, 'px')





// COLORS 
dark = #1a232e
darkblue = #023451
lightblue = #16507d
midblue = #33a0ff
linkblue = #05a5e6
lightgray = #c4c4c4
gray = #97989d
linkgray = #727272
// breakpoints
breaks = {
	mobile: 640px,
	mid: 570px,
	tablet2:767px,
	tablet: 769px,
	base: 1024px,
	base2: 1025px,
	big: 1201px,
	bigger: 1600px,
	max: 1880px
}

margins = {
	min:10px,
	small:20px,
	med:30px,
	big:50px,
	bigger:70px,
	max:100px,
	maxx: 160px,
	head: head-height
}

// gutters
gutters(top = 110px, bottom = 110px) {
	if (top!=false) {
		padding-top: top;
	}
    if (bottom!=false) {
        padding-bottom: bottom;
	}
}

// mixins
fontsizer(min = 13px, max = 24px, rangemin = breaks.mobile, rangemax = breaks.max)
	font-size responsive min max
	font-range rangemin rangemax


// FONT SIZES
$font-base = 16px

font = {
	biggest: unit($font-base*3.875, px),	//62px
	bigger: unit($font-base*2.625, px),		// 42px
	big: unit($font-base*2, px),			// 32px
	more: unit($font-base*1.75, px),		// 28px
	mid: unit($font-base*1.5, px),			// 24px
	small: unit($font-base*1.25, px),		// 20px
	smaller: unit($font-base*1.125, px),	// 18px
	base: unit($font-base, px),				// 16px
	smallest: unit($font-base*0.875, px)	// 14px
}

title1()
	fontsizer(font.big*1.125, font.biggest)
	font-family 'Helvetica Thin'
	
title2()
	fontsizer(round(font.bigger*0.85), round(font.bigger))
	font-family 'Helvetica Thin'
title3()
	fontsizer(round(font.big*0.85), round(font.big))
	font-family 'Helvetica Thin'
title4()
	fontsizer(round(font.base), round(font.more))
	font-family 'Helvetica Thin txt'
title5()
	fontsizer(round(font.mid*0.85), round(font.mid))
	font-family 'Helvetica Thin'
title6()
	fontsizer(round(font.small*0.95), round(font.small))
	font-family 'Helvetica Thin txt'
sub-title()
	font-family 'Helvetica Thin txt'
	fontsizer(round(font.smaller*0.85), round(font.smaller))
mid-txt()
	font-family 'Helvetica Thin txt'
	fontsizer(round(font.base*0.85), round(font.base))
small-txt()
	font-family 'Helvetica Thin txt'
	// font-size round(font.smallest)
	fontsizer(round(font.smallest), round(font.smallest))
	

// POSITIONING
centerize-children()
	+below(breaks.tablet)
		& > *
			margin 0 auto
			padding 0
			text-align center
			display block !important

self-center(dir=both, pos = absolute)
	position pos
	if (dir==vertical)
		top 50%
		transform translateY(-50%)
	else if (dir==horizontal)
		left 50%
		transform translateX(-50%)
	else
		top 50%
		left 50%
		transform translate(-50%,-50%)

absolute-center(dir=both)
	position relative unless @position
	& > *
		if (dir==vertical)
			self-center(vertical)
		else if (dir==horizontal)
			self-center(horizontal)
		else
			self-center()
mid(align=middle)
	display inline-block
	vertical-align align



inline-grp(align=middle)
	& > *:not(.not-me)
			mid(align)
		&:before
			mid(align)
			content ''
			height 100%

// ALIAS to inline-grp()
inline-mid()
	& > *:not(.not-me)
		mid()
	&:before
		mid()
		content ''
		height 100%
$zero
	padding 0
	margin 0
$sharpen
	-webkit-font-smoothing antialiased
	text-shadow 1px 1px 1px rgba(0,0,0,0.08)
	-moz-osx-font-smoothing grayscale